<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    {% block title %}
        <title>Sharing is Caring</title>
    {% endblock %}
</head>
<body>
    <header>
        <h1>Sharing is Caring!</h1>
    </header>
    <main>
        {% block main %}
            <p>Hello World!</p>
        {% endblock %}
    </main>
    <footer>
        <p>
            Sharing is Caring does  not use any cookies.
        </p>
    </footer>
</body>
</html>