<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    {% block title %}
        <title>Sharing is Caring</title>
    {% endblock %}
</head>
<body>
    <header>
        <h1>Sharing is Caring!</h1>
    </header>
    <main>
        {% block main %}
            <p>Hello World!</p>
        {% endblock %}
    </main>
    <footer>
        <p>
            (c) Sharing is Caring! 2023
        </p>
    </footer>
</body>
</html>