{% extends "templates/base.njk" %}

{% block main %}
    <form action="/file/create" method="post" enctype="multipart/form-data">
        <label for="file">Select file:</label>
        <input type="file" name="file" id="file">
        <div class="flex">
            <input type="submit" value="Send!">
            <a class="btn secondary" href="/">Go back!</a>
        </div>
    </form>

{% endblock %}