{% extends "templates/base.njk" %}

{% block main %}
    <form method="post" action="/paste/create">
        <label for="paste">Write your paste here:</label>
        <textarea name="paste" id="paste" cols="30" rows="10"></textarea>
        <div class="flex">
            <input type="submit" value="Send!">
            <a class="btn secondary" href="/">Go back!</a>
        </div>
    </form>
{% endblock %}