{% extends "templates/base.njk" %}

{% block main %}
    <div>
        <p>Shorten a URL:</p>
    </div>

    <div>
       <input type="text" name="url" id="url" placeholder="...">
    </div>

    <div>
       <p>Write your custom URL here:</p>
    </div>

    <dir>
        <input type="text" name="" id="" placeholder="...">
    </dir>

    <div class="flex">
        <a href="#">Upload!</a>
        <a href="/">Go back!</a>
    </div>
{% endblock %}