{% extends "templates/base.njk" %}

{% block main %}

    <form action="/url/create" method="post" class="flex">
        <label git for="url">Shorten a URL:</label>
        <input type="text" name="url" id="url" placeholder="https://example.com">
        <input type="submit" value="Shorten it!">
    </form>
    <div class="flex">
        <a class="btn" href="/custom">Custom URL shortening!</a>
        <a class="btn" href="/file">Upload a file!</a>
        <a class="btn" href="/paste">Upload a paste!</a>
    </div>
{% endblock %}