{% extends "templates/base.njk" %}

{% block body %}
    <header>
        <h1>Sharing is Caring!</h1>
    </header>
    <main>

        </form>
        <div>
            <p>Write your paste here:</p>    
        </div>

        <div>
            <textarea name="pasteContent" id="pasteContent" cols="30" rows="10"></textarea>
        </div>

        <div class="flex">
            <a href="#">Upload a paste!</a>
            <a href="/">Go back!</a>
        </div>
    </main>
{% endblock %}