{% extends "templates/base.njk" %}

{% block main %}
    <form action="#">
        <label for="url">Here's your shortened URL:</label>
        {% if url.customUrl %}
            <input type="text" id="url" name="url" value="{{ siteUrl }}/url/c/{{url.customUrl}}">
        {% else %}
            <input type="text" id="url" name="url" value="{{ siteUrl }}/url/s/{{url.id}}">
        {% endif %}
    </form>

    <div class="flex">
        <a class="btn" href="/">Shorten a link!</a>
        <a class="btn secondary" href="/">Go back!</a>
    </div>
{% endblock %}