{% extends "templates/base.njk" %}

{% block main %}
    <pre><code>{{ paste.text }}</code></pre>

    <div class="flex">
        <a class="btn" href="/paste">Upload a paste!</a>
        <a class="btn secondary" href="/">Go back!</a>

    </div>
{% endblock %}