{% extends "templates/base.njk" %}

{% block main %}
    <h1>{{ file.name }}</h1>


    <div class="flex">
        <a class="btn" href="/file/download/{{ file.id }}" download="{{ file.name }}">Download file!</a>
        <a class="btn secondary" href="/file">Upload a file!</a>
    </div>
{% endblock %}