{% extends "templates/base.njk" %}

{% block head %}
    <script src="/static/clipboard.js" defer></script>
{% endblock %}

{% block main %}
    <form action="#">
        <label for="url">Here's your shortened URL:</label>
        {% if url.customUrl %}
            <input type="text" readonly id="url" name="url" value="{{ siteUrl }}/url/c/{{url.customUrl}}">
        {% else %}
            <input type="text" readonly id="url" name="url" value="{{ siteUrl }}/url/s/{{url.id}}">
        {% endif %}
    </form>

    <div class="flex">
        <button class="btn" id="copyToClipboard">Copy the link!</button>
        <a class="btn secondary" href="/">Shorten another link!</a>
    </div>
{% endblock %}