* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Helvetica','Arial', sans-serif;
}

:root {
    --surface: #DDEEDD;
    --raised: #BBCCBB;
    --primary: #458565;
    --accent: #223322;
    --text: #112211;
    --placeholder: #667766;
}

@media (prefers-color-scheme: dark) {
    :root {
        --surface: #102010;
        --raised: #223322;
        --primary: #73B493;
        --accent: #BBCCBB;
        --text: #DDEEDD;
        --placeholder: #667766;
    }
}

:root, html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    background-color: var(--surface);
}

header {
    color: var(--surface);
    background-color: var(--primary);
    width: 80vw;
    text-align: center;
    padding: 2rem;
    border-radius: 0 0 3rem 3rem;
}

header > h1 {
    font-weight: 200;
}

footer {
    color: var(--primary);
    padding: 0.5rem;
    width: 100%;
    text-align: center;
}

main {
    margin: auto 0;
    padding: 5vmin 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.flex > * {
    margin: .25rem .5rem;
}

.btn,
input,
textarea {
    border-radius: .5rem;
    font-size: 1rem;
    padding: .5rem 1rem;
    border: var(--raised) solid .1rem;
    background-color: var(--raised);
    color: var(--text);
    transition: border-radius .3s, border-color .3s;
}

.btn:hover,
input:hover,
textarea:hover {
    border-color: var(--primary);
    border-radius: 1rem;
}

.btn:active,
input:active,
textarea:active,
.btn:focus,
input:focus,
textarea:focus {
    border-color: var(--primary);
    outline: var(--primary) solid .1rem;
}

input,
textarea {
    color: var(--text);
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: var(--placeholder);
}

label {
    color: var(--primary);
    cursor: pointer;
    margin: 1.25rem 0 .75rem 0;
}

.btn,
input[type="submit"] {
    text-decoration: none;
    color: var(--surface);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn:hover,
input[type="submit"]:hover {
    cursor: pointer;
}

.btn.secondary,
input[type="submit"].secondary {
    color: var(--primary);
    background-color: transparent;
}

form {
    display: flex;
    flex-direction: column;
    width: min(45ch, 80vw);
}

form.wide {
    width: fit-content;
}

form > input {
    user-select: none;
}

.row {
    flex-direction: row;
}

#paste {
    display: flex;
    flex-direction: column;
    height: min(60vh, 35rem);
    width: min(70ch, 80vw);
    resize: vertical;
}

img {
    width: min(60ch, 80vw);
}

.filename {
    text-align: center;
    margin-bottom: 1rem;
}
